<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @favourite.user.name %>
</p>

<p>
  <strong>Story:</strong>
  <%= @favourite.story.title %>
</p>

<%= link_to 'Edit', edit_favourite_path(@favourite) %> |
<%= link_to 'Back', favourites_path %>
